<div>
    <table>
        <tr>
            <td>
                <div class="btn, border-dark">
                    <form class="nav-link" method="get" asp-area="" asp-controller="Home" asp-action="GetUsers">
                        <button>View Users</button>
                    </form>
                </div>
            </td>
            <td>
                <div class="btn, border-dark">
                    <form class="nav-link" method="get" asp-area="" asp-controller="Home" asp-action="AddUser">
                        <button>Add User</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>